@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("snow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
}

.count-down-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 16px;
}

.count-down-timer__header {
    font-size: 4em;
}

.count-down-timer__time {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.count-down-timer__time div div:first-child {
    font-size: 3em;
}
.count-down-timer__time div div:last-child {
    font-size: 1.2em;
}